dill==0.3.4
EMD-signal==1.2.2
joblib==1.1.0
multiprocess==0.70.12.2
numpy==1.22.2
pandas==1.4.0
pathos==0.2.8
Pillow==9.0.1
pkg_resources==0.0.0
pox==0.3.0
ppft==1.6.6.4
python-dateutil==2.8.2
pytz==2021.3
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
torch==1.8.0+cu101
torchaudio==0.8.0
torchvision==0.9.0+cu101
tqdm==4.62.3
typing_extensions==4.0.1
